# Use the latest 2.1 version of CircleCI pipeline process engine.
# See: https://circleci.com/docs/configuration-reference
version: 2.1

 
orbs:
  aws-cli: circleci/aws-cli@4.0
  aws-ecr: circleci/aws-ecr@9.0.0

#setup: true
#   
#   orbs:
#     continuation: circleci/continuation@0.3.1
#     circleci-cli: circleci/circleci-cli@0.1.9
#   
#   parameters:
#     yml-path:
#       description: merged config path
#       type: string
#       default: .circleci/merged.yml


#  Define a job to be invoked later in a workflow.
#  # See: https://circleci.com/docs/configuration-reference/#jobs
#  jobs:
#    say-hello:
#      docker:
#        - image: cimg/base:2023.10
#      steps:
#        - run: echo 1
#        - run: echo "export TAG_DATE=$(date +%Y%m%M_%H%M)" >> "$BASH_ENV"
#        - run:
#           name: "test"
#           command: echo $TAG_DATE
#  #         environment:
#  #           SAY: hello
#  
#    say-hello2:
#      docker:
#        - image: cimg/base:2023.10
#      steps:
#        - run: echo "$TAG_DATE"
#  
#  
#  
#  
#  # See: https://circleci.com/docs/configuration-reference/#workflows
#  workflows:
#    #setup:
#    say-hello-workflow:  # workflowå
#      jobs:
#        - say-hello
#        - say-hello2


references:
  docker_hub_authentication: &docker_hub_authentication
    auth:
      username: "y.takeaki@gmail.com"
      password: "Torikag0*"

workflows:
  build-and-deploy:
    jobs:
      #- run: echo "export TAG_DATE=$(date +%Y%m%M_%H%M)" >> "$BASH_ENV"
      - aws-ecr/build_and_push_image:
          auth:
            - aws-cli/setup:
          repo: "${AWS_RESOURCE_NAME_PREFIX}"
          tag: latest,$CIRCLE_BUILD_NUM
          extra_build_args: "--build-arg=${CIRCLE_BUILD_NUM}"
# aws ecr get-login-password --region ap-northeast-1 | docker login --username AWS --password-stdin 672474461591.dkr.ecr.ap-northeast-1.amazonaws.com
