@import url(../../../stylesheets/application.css);

body, #wrapper { background-color:#EEEEEE; }
#header, #top-menu { margin: 0px 10px 0px 11px; }
#main { background: #EEEEEE; margin: 8px 10px 0px 10px; }
#content, #main.nosidebar #content { background: #fff; border-right: 1px solid #bbb; border-bottom: 1px solid #bbb; border-left: 1px solid #d7d7d7; border-top: 1px solid #d7d7d7; }
#footer { background-color:#EEEEEE; border: 0px; }

/* Headers */
h2, h3, h4, .wiki h1, .wiki h2, .wiki h3 {border-bottom: 0px;}

/* Menu */
#main-menu li a { background-color: #507AAA; font-weight: bold;}
#main-menu li a:hover { background: #507AAA; text-decoration: underline; }
#main-menu li a.selected, #main-menu li a.selected:hover { background-color:#EEEEEE; }
#main-menu li a.new-object { background-color:#507AAA; text-decoration: none; }

#main-menu .menu-children {
  border-right: 1px solid #507AAA;
  border-bottom: 1px solid #507AAA;
  border-left: 1px solid #507AAA;
}
#main-menu .menu-children li a:hover { background-color: #0076fb;}


/* Tables */
table.list tbody td, table.list tbody tr:hover td { border: solid 1px #d7d7d7; }
table.list thead th {
    border-width: 1px;
    border-style: solid;
    border-top-color: #d7d7d7;
    border-right-color: #d7d7d7;
    border-left-color: #d7d7d7;
    border-bottom-color: #999999;
}

/* Issues grid styles by priorities (provided by Wynn Netherland) */
table.list tr.issue a { color: #666; }

tr.odd.priority-highest, table.list tbody tr.odd.priority-highest:hover { color: #900; font-weight: bold; }
tr.odd.priority-highest { background: #ffc4c4; }
tr.even.priority-highest, table.list tbody tr.even.priority-highest:hover { color: #900; font-weight: bold; }
tr.even.priority-highest { background: #ffd4d4; }
tr.priority-highest a, tr.priority-5:hover a { color: #900; }
tr.odd.priority-highest td, tr.even.priority-highest td { border-color: #ffb4b4; }

tr.odd.priority-high2, table.list tbody tr.odd.priority-high4:hover { color: #900; }
tr.odd.priority-high2 { background: #ffc4c4; }
tr.even.priority-high2, table.list tbody tr.even.priority-high4:hover { color: #900; }
tr.even.priority-high2 { background: #ffd4d4; }
tr.priority-high2 a { color: #900; }
tr.odd.priority-high2 td, tr.even.priority-high4 td { border-color: #ffb4b4; }

tr.odd.priority-high3, table.list tbody tr.odd.priority-high3:hover { color: #900; }
tr.odd.priority-high3 { background: #fee; }
tr.even.priority-high3, table.list tbody tr.even.priority-high3:hover { color: #900; }
tr.even.priority-high3 { background: #fff2f2; }
tr.priority-high3 a { color: #900; }
tr.odd.priority-high3 td, tr.even.priority-high3 td { border-color: #fcc; }

tr.odd.priority-lowest, table.list tbody tr.odd.priority-lowest:hover { color: #559; }
tr.odd.priority-lowest { background: #eaf7ff; }
tr.even.priority-lowest, table.list tbody tr.even.priority-lowest:hover { color: #559; }
tr.even.priority-lowest { background: #f2faff; }
tr.priority-lowest a { color: #559; }
tr.odd.priority-lowest td, tr.even.priority-lowest td { border-color: #add7f3; }

/* Buttons */
input[type="button"], input[type="submit"], input[type="reset"] { background-color: #f2f2f2; color: #222222; border: 1px outset #cccccc; }
input[type="button"]:hover, input[type="submit"]:hover, input[type="reset"]:hover { background-color: #ccccbb; }

/* Fields */
input[type="text"], input[type="password"], textarea, select { padding: 2px; border: 1px solid #d7d7d7; }
input[type="text"], input[type="password"] { padding: 3px; }
input[type="text"]:focus, input[type="password"]:focus, textarea:focus, select:focus { border: 1px solid #888866; }
option { border-bottom: 1px dotted #d7d7d7; }

/* Misc */
.box { background-color: #fcfcfc; }

#top-menu{ background: url(../images/logo.svg) #8b0000 no-repeat left 10px center;  padding: 1em 1em 1em 50px;
	background-size:  auto 70%;
}

#header{ background: url(../images/client_logo.png) #d30000 no-repeat left 14px top 8px;  padding: 1em 1em 1em 70px;
	background-size:  auto 50%; min-height: 4.7em;
}
#main-menu{
	li{
		a{ background:#8b0000; }
		a:hover{ background:#ff0000; }
		a.new-object{
			background: #ff0000
		}
	}
}

#content{
	&>h2{
		padding: 0.7em 0;
	}
}

#projects-index{
	column-count: auto;
	column-width: auto;
	-webkit-column-count: auto;
	-webkit-column-width: auto;
	-webkit-column-gap: auto;
	-moz-column-count: auto;
	-moz-column-width: auto;
	-moz-column-gap: auto;
	width: 100%;
	.projects{
		padding-left: 1em;
		box-sizing: border-box;
		li.root{
			a.project{
				border-bottom: 1px solid #e2e2e2;
				padding-bottom: 0.2em;
				display: block;
				width: 80%;
				margin-bottom: 5px !important;
				font-size: 150% !important
			}
		}
	}
}

@media screen and (max-width: 899px){
	#header{
		background: #d30000 !important;
	}
	.flyout-menu{
		background-color:#8b0000 !important;
		h3{
			background-color : #780000 !important;
			border-bottom: 1px solid #520000 !important;
			border-top: 1px solid #c03535 !important;
			padding-left: 2.5em !important;
			position: relative;
			padding-top: 0.5em !important; 
			padding-bottom: 0.5em !important;
			height: auto !important;

		}
		h3:before{
			content:'▼';
			position: absolute;
			left: 10px;
		}
	}
}





